.flex-containers-right {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
  margin: 5%;
  background-color: #5d4954;
  border-radius: 25px;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    "head head"
    "products products";
}

.head {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.products {
  grid-area: products;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  justify-content: center;
  justify-content: space-around;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "row row row"
    "row row row"
    "row row row";
}

.order-button{
    background-color: #802f5b;
    border-color: #802f5b;
    border-radius: 25%;
    width: 100%;
    height: auto;
    margin: 1%;
}

.buttons {
  grid-area: row;
  width: 100%;
  display: flex;
}

.img-ice{
    height: auto;
    width: 100%;
    border-radius: 25%;
}

.rows{grid-area: row;
  display: flex;
  justify-content: center;

}

@media screen and (max-width: 380px) {
  .buttons{
    width: 100%;
    overflow:scroll;
  }
}